{
  "name": "<%= appName %>",
  "version": "0.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "bundle": "node node_modules/.bin/webpack",
    "test": "karma start --single-run --browsers ChromeHeadless",
    "start": "node node_modules/.bin/webpack-dev-server --config webpack.dev.config.js --hot"
  },
  "author": "<%= author %>",
  "license": "<%= license %>",
  "private": true,
  "dependencies": {},
  "devDependencies": {}
}
